* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-image: url('../media/rakbuku.jpg');
    /* Gambar jadi background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Kiri: Form Login */
.left {
    flex: 1;
    background-color: #CADBB7;
    /* semi transparan putih */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.login-box {
    width: 80%;
    max-width: 350px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #3e4b2d;
    text-align: center;
}

.login-box label {
    display: block;
    margin-top: 10px;
    color: #3e4b2d;
    font-weight: 500;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #3e4b2d;
}

.link {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #93A267;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4b5d30;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #93A267;
    color: #3e4b2d;
}

/* Kanan: Kosong tapi tetap ada untuk layout */
.right {
    flex: 1;
}
